<h1>Hello World {{title}}!</h1> 
<!-- <p> {{ user | json }}</p> -->
<p> {{helloWorld()}}</p>

<hr>

<li>{{tab[0]}}</li>
<li>{{tab[1]}}</li>
<li>{{tab[2]}}</li>
<li>{{tab[3]}}</li>
<li>{{tab[4]}}</li>

<hr>

<ul>
<li *ngFor="let element of tab">
  {{element}}
</li> 
</ul>

<hr>

<ul>
  <li *ngFor="let element of tab; index as i">
    {{i}} : {{element}}
  </li> 
  </ul>

  <hr>

  <ul>
    <li *ngFor="let element of tab; index as i; let isFirst = first; let isEvent = even">
      {{i}} : {{element}} || {{isFirst}} || {{isEvent}}
    </li> 
    </ul>
  

    <hr>

<ul>
  <li *ngFor="let AllUsers of users; index as i ">
    age : {{AllUsers.num}} || firstname:  {{AllUsers.firstname}} ||| lastname : {{AllUsers.lastname}}
  </li> 
</ul>

<hr>

<ul>
  <li *ngIf="tab[1] % 2!=0">
    {{tab[0]}} est impair
  </li>
</ul>

<hr>

<ul>
  <li *ngIf="tab[0] % 2!=0; else SINON">
    {{tab[0]}} est impair
  </li>
  <ng-template #SINON>
    <li>
      {{ tab[1] }} est pair 
    </li> 
  </ng-template>
</ul>

<hr>

<h2>Ex Switch case :</h2>
<ul>
  <ng-container *ngFor="let element of tab2">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="element >= 0 && element < 10">
         {{element}} : echec
      </li>
      <li *ngSwitchCase="element >=10 && element < 13"> 
        {{element}} : moyen
      </li>
      <li *ngSwitchCase="element >=13 && element < 15"> 
        {{element}} : bien
      </li>
      <li *ngSwitchCase="element >= 15">
         {{element}} : Très bien
        </li>
      <li *ngSwitchDefault>
        autre
      </li>
    </ng-container>
  </ng-container>
</ul>


<hr>
<h2> Exemple changement de la class avec [ngClass] :</h2>
<p [ngClass]="name =='Robin' ? 'red':'blue'">
  {{name}}
</p>